<h3><%= @task.name %></h3>
<form action="/tasks/<%= @task.id %>" method="POST">
	<label>Task Name: </label>
	<input type="text" name="name">
	<% List.all.each do |list| %>
		<input type="checkbox" name="list_id" value="<%= list.id %>" <%= 'checked' if @task.list_id == (list.id) %> > <%= list.name %></input>
	<% end %>	
</form>



